* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: calc(1em + 0.5rem);
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
}

main {
  background: hsl(0, 0%, 40%);
  padding-top: 48px;
  padding-bottom: 48px;
  border-top: 8px solid hsl(0, 0%, 60%);
}

.intro-chunk {
  margin-block: 96px 64px;
  max-width: 50ch;
  padding-inline: 24px;
}

.title {
  margin-bottom: 48px;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.intro-chunk strong {
  color: hsl(160, 100%, 30%);
}

.card {
  background: white;
  padding-inline: 24px;
  border-bottom: 8px solid hsl(0, 0%, 60%);
  padding-top: 8px;
  margin-block: 16px;
}

.card > p {
  max-width: 70ch;
}

.indented-heading {
  background: hsl(45, 100%, 50%);
  border-bottom: 8px solid hsl(45, 100%, 40%);
  width: fit-content;
  padding: 16px 32px;
  margin: 0;
  margin-left: -32px;
}
